{% extends 'base.html' %}
{% block content %}
<!-- <h2 class="mt-3">Section title from base.html</h2> -->

{% load static %}


<h3 class="card-title mt-3">お買い物申請フォーム</h3>
<form  action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    
    <div class="field">
        {{ form.product_type.label_tag }}
            {% for choice in form.product_type %}
            {{ choice.choice_label }}
            <div class="select">{{ choice.tag }}</div>
            {% endfor %}
        {% if form.product_type.error %}
            <p class="help">{{ form.product_type.errors }}</p>
        {% endif %}
    </div>


<!-- 
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
</div>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio2" id="btnradio4" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio4">Radio 1</label>

  <input type="radio" class="btn-check" name="btnradio2" id="btnradio5" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio5">Radio 2</label>

  <input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio6">Radio 3</label>
</div>
-->

    <div class="row form-group">
        <div class="col-md-4">
            <label for="inputProduct" class="form-label">物品</label>
            <input type="text" class="form-control" id="inputProduct">
        </div>    
        <div class="col-md-4">
            <label for="inputPrice" class="form-label">金額</label>
            <input type="text" class="form-control" id="inputPrice">
        </div>    
        <div class="col-md-4">
            <label for="inputPriceEst" class="form-label">金額根拠</label>
            <input type="text" class="form-control" id="inputPriceEst">
        </div>    
    
    </div>

    <div class="row form-group mt-3 mb-0">
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                種別 : 

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="producttype" id="daily"/>
                        <label class="form-check-label" for="daily"> 生活必需品 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="producttype" id="luxury"/>
                        <label class="form-check-label" for="luxury"> 贅沢品 </label>
                    </div>    
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                用途 : 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="purpose" id="me" >
                        <label class="form-check-label" for="me">自分用</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="purpose" id="family">
                        <label class="form-check-label" for="family">家族用</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="purpose" id="gift">
                        <label class="form-check-label" for="gift">贈答用</label>
                    </div>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                代替 : 

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="alternative" id="altyes"/>
                        <label class="form-check-label" for="altyes"> 有り </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="alternative" id="altno"/>
                        <label class="form-check-label" for="altnot"> 無し </label>
                    </div>    
            </div>
        </div>

    </div>    

    <div class="row form-group mt-1 mb-0">
        <div class="col-2">
            <label>購入予定日 : </label>
            <input type="text" class="form-control" id="date_sample">
        </div>
    </div>    


    <div class="row form-group mt-0">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary">申請</button>
        </div>
    </div>    



    





</form>


{% include 'includes/alerts.html' %}
{% endblock %}

