{% extends 'base.html' %}
{% block content %}
<!-- <h2 class="mt-3">Section title from base.html</h2> -->

{% load static %}


<h3 class="card-title mt-3">お買い物申請フォーム</h3>

<form  action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    
    <div class="row form-group">
        <div class="col-md-4">
            <label for="inputProduct" class="form-label">物品</label>
            <!-- <input type="text" class="form-control" name="inputProduct" id="inputProduct"> -->
            {{ form.goods }}
        </div>    
        <div class="col-md-4">
            <label for="inputPrice" class="form-label">金額</label>
            <!-- <input type="text" class="form-control" name="inputPrice" id="inputPrice"> -->
            {{ form.product_price }}
        </div>    
        <div class="col-md-4">
            <label for="inputPriceEst" class="form-label">金額根拠</label>
            <!-- <input type="text" class="form-control" name="inputPriceEst" id="inputPriceEst"> -->
            {{ form.type_of_estimation }}
        </div>    
    
    </div>

    <div class="row form-group mt-3 mb-0">

        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                種別 : 

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="product_type" id="product_type" required value="D" {{ daily_goods }}/>
                        <label class="form-check-label" for="daily"> 生活必需品 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="product_type" id="product_type" required value="L" {{ luxury_goods }}/>
                        <label class="form-check-label" for="luxury"> 贅沢品 </label>
                        {% comment %} <div class="invalid-feedback">More example invalid feedback text</div> {% endcomment %}
                    </div>    
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                用途 : 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="product_use" required value="M" {{ personal }}>
                        <label class="form-check-label" for="me">自分用</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="product_use" required  value="F" {{ family }}>
                        <label class="form-check-label" for="family">家族用</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="product_use" required value="G" {{ gift }}>
                        <label class="form-check-label" for="gift">贈答用</label>
                    </div>
            </div>
        </div>


        <!--
        <div class="col-2">
            {{ form.alternative }}
        </div>
    -->

        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">    
                代替 : 

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="alternative" id="altyes" required value="true" {{ alt_available }}/>
                        <label class="form-check-label" for="altyes"> 有り </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="alternative" id="altno" required value="false" {{ alt_unavailable }}/>
                        <label class="form-check-label" for="altnot"> 無し </label>
                    </div>    
            </div>
        </div>

    </div>    

    <div class="row form-group mt-1 mb-0">
        <div class="col-2">
            <label>購入予定日 : </label>
            <!-- <input type="text" class="form-control" name="expected_purchase_date" id="date_sample" value={{form.expected_purchase_date}}>{{form.expected_purchase_date}} -->

            <input type="text" class="form-control" name="expected_purchase_date" value="{{expected_purchase_date}}" id="date_sample"  ></input>
        </div>
        <div class="col-2">
            <label>申請ID</label>
            <input readonly type="text" class="form-control" name="orderid" value="{{orderid}}" id="orderid"  ></input>
        </div>

        {% if user.is_approver %}

        {% else %}
        <div class="col-4">
            <label>コメント</label>
            <input readonly type="text" class="form-control" name="comment" value="{{comment}}" id="comment"  ></input>
        </div>
        {% endif %}


    </div>    


    <div class="row form-group mt-0">
        <div class="col-10">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" name="submitprimary">申請</button>
            <button type="submit" class="btn btn-secondary" name="submitsecondary">保存</button>
        </div>
        <div class="col-1">
        </div>
    </div>    

    {% if user.is_approver %}
    <h4>Your are a approver</h4>
    {% endif %}
    <div class="row form-group mt-0">
        <div class='col-5'>

            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
            </div>

            <div class="btn-toolbar">
            <div class="btn-group">
            {% if orderid %}
                <button id="create-book" class="btn btn-link my-0 create-book text-muted" type="button" name="button" data-form-url="{% url 'modal_file_upload' orderid=orderid %}">見積根拠添付{{orderid}}</button>
                <button id="showdelete-book" class="read-book btn btn-link my-0 text-muted" type="button" name="button" data-form-url="{% url 'modal_file_showdelete' orderid %}">見積根拠確認(ダウンロード・削除)</button>
            {% else %}
                {% if books%}    
                    <button id="showdelete-book" class="read-book btn btn-link my-0 text-muted" type="button" name="button" data-form-url="{% url 'modal_file_showdelete' 0 %}">見積根拠確認(ダウンロード・削除)</button>
                {% endif %}    
            {% endif %}            
            </div>
            </div>


        </div>
    </div>

{% comment %} 
    {% if books %}
        <table id="books-table" class="table table-borderless table-sm">
            <tbody>
            {% for book in books %}
                <tr class="d-flex">
                <td class="text-center col-2">{{ book.file_name }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
 {% endcomment %}

</form>


{% include 'includes/alerts.html' %}
{% endblock %}

